@page
@model EmailMaketing.Web.Pages.SenderEmails.CreateModalModel
@using Microsoft.Extensions.Localization
@using EmailMaketing.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@inject IStringLocalizer<EmailMaketingResource> L
@{
    Layout = null;
}

<abp-card>
    <form method="post" asp-page="/EmailManagement/SenderEmails/CreateModal">
        <abp-card-header></abp-card-header>
        <abp-card-body>
            <div>
                <label>Email<sup>*</sup></label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" asp-for="SenderEmail.Email" required/>
                    <abp-button type="button" button-type="Primary">Test</abp-button>
                </div>
            </div>
        </abp-card-body>
    </form>
</abp-card>