@page
@model EmailMaketing.Web.Pages.Customers.CreateModalModel
@using EmailMaketing.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@inject IStringLocalizer<EmailMaketingResource> L
@section scripts
{
    <abp-script src="/Pages/Customers/Index.js" />
}
<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6">
                <abp-card-title>@L["New Customer"]</abp-card-title>
            </abp-column>
        </abp-row>
    </abp-card-header>
    <form method="post" asp-page="/Customers/CreateModal">
        <abp-card-body>
            <abp-row>
                <abp-input asp-for="AppUser.UserName"></abp-input>
                <abp-input asp-for="AppUser.Password"></abp-input>
                <abp-input asp-for="Customer.FullName"></abp-input>
                <abp-input asp-for="AppUser.Email"></abp-input>
                <abp-input asp-for="Customer.PhoneNumber"></abp-input>
            </abp-row>
        </abp-card-body>
        <abp-card-footer>
            <a href="/Customers/Index" class="btn btn-secondary">@L["Cancel"]</a>
            <button id="save" data-busy-text="Đang lưu..." class="btn btn-primary bkgrnd-cyan save-details" type="submit" name="save-details">@L["Save"]</button>
        </abp-card-footer>
    </form>
</abp-card>
